<div class="container">
  <h1>Giggle Plex</h1>
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'home'}}Home{{/link-to}}</li>
    </ul>
  </nav>
  {{outlet}}
</div>
