<form>
  <div class="form-group">
    <label for="name">Add a Folder To Your Account</label>
    {{input value=name id="name" class="form-control"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span></button>
</form>
